<!DOCTYPE html>
<html>
<head>
  <title>Ticket</title>
</head>
<body style="font-family: Arial; background-color: #f8f8f8;">
  <h2>Train Ticket</h2>

  <p><strong>Passenger:</strong> {{ name }} ({{ gender }}, Age: {{ age }})</p>
  <p><strong>Email:</strong> {{ email }}</p>
  <p><strong>Phone:</strong> {{ phone }}</p>
  <p><strong>Train No:</strong> {{ train_number }}</p>
  <p><strong>Class:</strong> {{ cls }}</p>
  <p><strong>Fare:</strong> ₹{{ fare }}</p>
 
  <p><strong>From:</strong> {{ src }} → <strong>To:</strong> {{ dest }}</p>
  <p><strong>Date of Journey:</strong> {{ date }}</p>
  <p><strong>Category:</strong> {{ category }}</p>
  <p><strong>Ticket ID:</strong> {{ ticket_id }}</p>

  <br><br>
  <button onclick="window.print()">Download Ticket</button>
</body>
</html>
